@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  background: #0a2129;
}
.re {
  border-radius: 30px;
  font-family: montserrat, 'sans-serif';
  color: black;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  /* box-shadow: 2px 2px 5px #bebebe, -5px -5px 10px #ffffff; */
  background: white;
}

h4 {
  font-weight: 600;
}
.mo {
  background: #0a2129;
}
.ic {
  font-family: 'montserrat';
  font-weight: lighter;
  color: white;
}
.bt {
  background: red;
}
.ic1 {
  color: rgb(7, 51, 133);
}
.simplebar-wrapper {
  background: #0a2129;
  color: #f0f0f0;
}
.simplebar-content {
  color: #f0f0f0;
}
.css-dxfs78 {
  background: #0a2129;
}
.css-x858a4 {
  /* display: none; */
}
.css-16dqz1z-MuiButtonBase-root-MuiListItemButton-root {
  background: white;
}
.MuiListItemButton-root .active {
  background: white;
}
.MuiListItemButton-root:hover {
  background: white;
}
.css-vt7cuc-MuiListItemText-root {
  /* color: black;
   */
  color: black;
  font-weight: bolder;
}
/* .css-vt7cuc-MuiListItemText-root */
.css-16dqz1z-MuiButtonBase-root-MuiListItemButton-root:before {
  display: none;
}
